#start-button {
   font-size: 2em;
   height: 2.5em;
}
#log {
   margin-bottom: 0.5em;
}
label#server-size-label {
   display: inline-block;
}
.server-online:disabled {
   background-color: #18E55D;
   border-color: #00AC3A
}
